.section{
  background-color: #321400;
  margin-bottom: 1.5em;
  color: #FFFBF0;
  padding: 20px;
  border: 5px solid #cc925d;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.color{
  color:#F7D391;
  font-weight: bold;
}
#csharp-content ul,li{
  list-style-position: inside;
}
a{
  text-decoration: none;
  color:#F7D391;
}
.code{
  font-family: monospace;
  background-color: #1e110b;
  margin: 20px auto;
  border: 2px dashed #FFFBF0;
}
code{
  font-family: monospace;
  font-size: 11pt;
}
.padding10px{
  padding: 10px;
}
