.Puzzle-Hidden{
    overflow: hidden;
    width: 0;
    height: 0;
    transition:0.5s;
}
.Puzzle-Visibal{
    background-color: #321400;
    margin-bottom: 1.5em;
    color: #FFFBF0;
    padding: 20px;
    border: 5px solid #cc925d;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
    visibility: visible;
    transition:0.5s;
}
.answerbutton{
  background-color: #1e110b;
  font-family: Acron;
  border: 0;
  padding: 2px;
  text-align: center;
  color: #FFFBF0;
  border-bottom: 3px solid #cc925d;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}
.answerbutton:hover{
  color:#F7D391;
  opacity: 0.8;
}
.answerbutton:active{
  color: black;
}
input[type="radio"]{
  border: 1px solid black;
  cursor: pointer;
  background-color: #FFFBF0;
}
/* .hide-p{
    cursor: pointer;
    margin: 10px;
    width: 60px;
    background-color: aqua;
}
.DivAnswer-0,.DivAnswer-1{
width: 0;
height: 0;
font-size: 2em;
z-index: 1;
position: fixed;
right: 0;
top: 50%;
overflow: hidden;
color: aqua;
background-color: rebeccapurple;
}
.blocks-p{
    cursor: pointer;
    margin: 10px;
    width: 60px;
    background-color: aqua;
}
.fullblock-p{
    cursor: pointer;
    margin: 10px;
    width: 60px;
    background-color: aqua;
}

.DivRadio,.AnswerButton{
    border: 5px solid black;
    margin: 20px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.AnswerButton{
    width: 150px;
}
.DivAnswer-1{
    width: 200px;
    height: 150px;
} */
