<!Doctype html>
<html>

<head>
  <title>ChocoBytes</title>
  <meta charset="utf-8" />
  <meta name="content" content="ChocoBtytes html page" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style02.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/login.css') }}">

</head>

<body>
  <!-- The Header -->
  <header id="head">
    <div class="div-in-header">
      <div class="logo">

        <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="languages" id="logo">
      </div>
      <div class="center-header">

        <img src="{{ url_for('static',filename='img/smile.svg') }}" alt="smile" id="smileleft">
        <span id="wb-name">ChocoBytes</span>
        <img src="{{ url_for('static',filename='img/smile.svg') }}" alt="smile" id="smileright">
      </div>
      <div class="left-header">

        <img src="{{ url_for('static',filename='img/lang.svg') }}" alt="languages" id="lang">
      </div>
    </div>
  </header>
  <nav id="navbar">
    <div class="navbar-list-container">
      <ul class="navbar-list">
        <li><a class="navlistitem" href="Button1l">About</a></li>
        <li><a class="navlistitem" href="Button2">Contact Us</a> </li>
      </ul>
    </div>
    <form class="search-bar">
      <input class="search" type="text" placeholder="Search..." required>
      <input class="search-btn" type="image" src="{{ url_for('static',filename='img/search.svg') }}" value="Search">
    </form>
  </nav>
  <!-- end of header -->
  <!-- Dynamiclist -->
  <script src="{{ url_for('static',filename='script/scripting.js') }}"></script>{
  <div id="list-div"><span id="list-span" onclick="OpenList()">&#9776; Menu</span></div>
  <div id="list-id" class="list-class">
    <a href="C++">C++</a>
    <a href="Java">Java</a>
    <a href="cSharp">C#</a>
    <a href="Algorithms">Algorithms</a>
    <a href="Web">Web</a>
    <a href="Puzzles">Puzzles</a>
  </div>
  <!-- Dynamiclist -->
  <!-- SignUp and LoginForm -->
  <div class="signupbuttonsdiv">
    <div class="signupbuttons">
      <button class="button text18pt" type="button" name="button" onclick="hidelogin()">Sgin Up</button>
      <button class="button text18pt" type="button" name="button" onclick="hidesignup()">Login</button>
    </div>
  </div>
  <!-- SignUp and LoginForm -->
  <!-- loginForm -->
  <div id="loginformdiv">
    <!--<img src="./img/005-computer.svg" alt="languages" id="form-background" >-->
    <div id="formcontent">
      <form action="/login" method="POST" id="loginform">
        <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="languages" id="form-logo">
        <input required class="formtextinput" id="username" type="text" name="UserName" placeholder="user name">
        <input required class="formtextinput" id="password" type="password" name="Password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <input class="submitstyle" type="submit" value="Log In">
      </form>
    </div>
  </div>
  <!-- loginForm-->
  <!-- SignupForm -->
  <div id="signupformdiv">
    <!--<img src="./img/005-computer.svg" alt="languages" id="form-background" >-->
    <div id="signupform">
      <form class="form" action="/signup" method="POST" id="signup">
        <!-- <img src="./img/logo.svg" alt="languages" ="form-logo" > -->
        <input required class="signupfrominput" id="usernamesignup" type="text" name="UserName" placeholder="user name">
        <input required class="signupfrominput" id="passwordsignup" type="password" name="Password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <input required class="signupfrominput" id="repasswordsignup" type="password" name="Password2" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <input required class="signupfrominput" id="emailsignup" type="email" name="email" placeholder="example@example.com">
        <input class="submitstyle" type="submit" value="Sign up">
      </form>
    </div>
  </div>
  <label class="msg">{{msg}}</label>

  <script type="text/javascript">
    var login = document.getElementById("loginformdiv")
    var signup = document.getElementById("signupformdiv")

    function hidelogin() {
      "use strict";
      login.style.display = "none";
      signup.style.display = "block";
    }

    function hidesignup() {
      "use strict";
      login.style.display = "block";
      signup.style.display = "none";
    }
  </script>
  <!-- SignupFrom -->
</body>

</html>
