<!Doctype html>


<!-- this page is the main page that will be shown in the website
     and all pages will be shown in this page by navigation with AJAX -->

<html>
    <head>
        <title>ChocoBytes</title>
        <meta charset = "utf-8"/>
        <meta name="content" content="ChocoBtytes html page"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style02.css') }}">
    </head>
    <body>
      <!-- The Header -->
      <header id="head">
        <div class="div-in-header">
          <div class="logo">

            <img src="{{ url_for('static',filename='img/logo.svg') }}" alt="languages" id="logo">
          </div>
          <div class="center-header">

            <img src="{{ url_for('static',filename='img/smile.svg') }}" alt="smile" id="smileleft">
            <span id="wb-name">ChocoBytes</span>
            <img src="{{ url_for('static',filename='img/smile.svg') }}" alt="smile" id="smileright">
          </div>
          <div class="left-header">

            <img src="{{ url_for('static',filename='img/lang.svg') }}" alt="languages" id="lang">
          </div>
        </div>
      </header>

      <!-- end of header -->


        <form action="/admin" method="post">
            <input name="title" type="text" style="display: block">
            <textarea name="content" style="display: block"></textarea>
            <select name="language">
                <option name="csharp">C#</option>
                <option name="cpp">C++</option>
                <option name="java">Java</option>
                <option name="web">Web</option>
                <option name="algo">Algorithm</option>
            </select>
            <input type="submit">
        </form>
      </body>
    
    
    
</html>