@font-face {
  font-family: Milkshake;
  src: url("./fonts/Milkshake.ttf");
}
@font-face {
  font-family: Acron;
  src: url("./fonts/Arcon-Regular.otf");
}
*{
  padding: 0;
  margin: 0;
}
html{
  min-width: 390px;
}
body{
  background-color: #1e110b;
}
@media screen and (max-width: 390px){
  #head{min-width: 395px; width: 100%;}
  #navbar{min-width: 400px; width: 100%;}
  .logo{visibility: hidden; width: 0; height: 0;}
  .left-header{visibility: hidden; width: 0; height: 0;}
  #smileleft{visibility: hidden; width: 0; height: 0;}
  #smileright{visibility: hidden; width: 0; height: 0;}
}
@media screen and (max-width: 420px){
  .logo{visibility: hidden; width: 0; height: 0;}
  .left-header{visibility: hidden; width: 0; height: 0;}
  #smileleft{visibility: hidden; width: 0; height: 0;}
  #smileright{visibility: hidden; width: 0; height: 0;}
  .search-bar{visibility: hidden; width: 0; height: 0;}
  .center-header{min-width: 100%}
}
@media screen and (max-width: 775px){
  .logo{visibility: hidden; width: 0; height: 0;}
  .left-header{visibility: hidden; width: 0; height: 0;}
  #lang{width: 0;height: 0;}
  .center-header{min-width: 100%}
}
header{
  background-color: #CC925D;
  padding: 0.5%;
  width: auto; /* all page width*/
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.div-in-header{
  padding: 0;
  border: 2px dashed #DEC095; /* dashed boarder for more about border check:https://www.w3schools.com/css/css_border.asp */
  background-color: #44281F;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: auto;
  max-height: 120px;
  overflow: hidden;
}
.logo{
  flex-grow: 1;
  flex-basis: auto;
}
.center-header{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: auto;
}
.left-header{
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
}
nav{
  //visibility: hidden; width: 0; height: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #6A371C;
  border-bottom: 5px solid #371809;
  min-width: 100%;
  min-height: 23px;
  max-height: 35px;
  overflow: hidden;
}
.navbar-list{
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
a.navlistitem{
 background-color: #6A371C;
 text-decoration: none;
 text-align: center;
 font-family: Acron;
 color: #E28343;
 padding: 0 5px;
}
a.navlistitem:hover{
 background-color: #CC925D;
 text-decoration: none;
 text-align: center;
 padding: 0 5px;
}
a.navlistitem:active{
 background-color: #A74C2A;
 text-decoration: none;
 text-align: center;
 padding: 0 5px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: auto;
    //visibility: hidden;
}
.search {
  height: 20px;
  padding: 1.25px;
  background: #cc925d;
  border: 0;
  margin-left: auto;
}
.search-btn{
  width: 23px;
  height: 23px;
}
#loginformdiv{
  width: 260px;
  height: 180px;
  margin: auto;
  overflow: hidden;
  background-image:url('../img/005-computer.svg');
  background-position: 50% 50% ;
  background-repeat: no-repeat;
  background-size: 390px 390px;
}
#formcontent{
  position: relative;
  margin: 20px 0  0 40px;
  width: 50%;
  max-width: 170px;
  min-width: 170px;
  //margin: auto;
  overflow: hidden;
}
input.form-style{
  display: block;
  color:#DEC095;
  font-family: Acron;
  margin-bottom: 2px;
  min-width: 100px;
  height: 16px;
  background-color: #4d2600;
  font-size: 16px;
  padding: 1px;
  border: 0;
  padding-left: 2px;
  border-left: 5px solid #1e110b;
}
#form-style{
  background-color: #1e110b;
  font-family: Acron;
  border: 0;
  padding: 2px;
  text-align: center;
  color: #E28343;
}
#form-style:hover{
  color:#1e110b;
}
input.form-style::placeholder {
    color: #E28343;
    opacity: 1;
}
#form-logo{
  width: 60%;
  margin-left: 30px;
  height: auto;
}
#form-background{
  margin: 0 auto;
  background-color: red;
  width: 100%;
  z-index: -1000;
}
#loginform{
  max-width: 200px;
  margin: 0 auto;
}
#logo{
  width: 50%;
  max-width: 180px;
  min-width: 150px;
  margin: auto;
  display: inline;
}
#smileleft{
  width: 15%;
  margin-left: auto;
}
#smileright{
  width:15%;
  margin-right: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#lang{
  margin: auto;
  margin-top: 5%;
  width: 70%;
  max-width: 250px;
  min-width: 200px;
}
#wb-name{
  font-size: 300%;
  font-family: Milkshake;
  color: #FFF3D3;
  display: inline;
}
.list-class{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    transition: .5s;
    background-color: #774125;
}
.list-class a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #E28343;
    display: block;
    transition: 0.3s;
}
.list-class a:hover{
    color: #FCF0D0;
}
.list-class a:active{
    color: #1E110B;
}
.list-class .list-class-a{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.list-class-a{
    cursor: pointer;
}
#list-div{
    transition: margin-left .5s;
    padding: 16px;
}
#list-span{
    cursor: pointer;
    color: #cc925d;
}
