@font-face {
  font-family: Milkshake;
  src: url("./fonts/Milkshake.ttf");
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #1e110b;
}
.header{
  background-color: #CC925D;
  padding: 10px;
  width: auto; /* all page width*/
}
.div-in-header{
  padding: 15px;
  border: 0.2em dashed #DEC095; /* dashed boarder for more about border check:https://www.w3schools.com/css/css_border.asp */
  background-color: #44281F;
  height: 80px;
}
.center-header{
  display: inline;
  position: relative;
  left: 200px;
  bottom: 20px;
}
#wb-name{
  font-size: 4em;
  font-family: Milkshake;
  color: #FFF3D3;
  display: inline;
}

#smileleft{
  width: 3em;
  display: inline;
  margin-right: auto;
}
#smileright{
  width: 3em;
  display: inline;
  margin-left: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#lang{
  width: 10em;
  position: relative;
  display: inline;
  position: relative;
  left: 360px;
  bottom: 30px;
}
#logo{
  width: 7em;
  position: relative;
  display: inline;
  bottom: 10px;
}
.search-bar{
  width:215px;
  position: relative;
  bottom: 75px;
  left:1020px;
}
.search {
    padding:8px 15px;
    background: #cc925d;
    border: 0;
    width: 100px;
}
.search-btn{
  position:relative;
  padding:6px 15px;
  right:5px;
  border:2px solid #a74c2a;
  background-color:#a74c2a;
  color:#fff3d3;
  width: 80px;
}
.navbar-list{
    list-style-type: none;
    overflow: hidden;
    background-color: #331609;
}
.list-element{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding:14px 16px;
    float: left;
}
.list-element:hover{
    background-color: #111;
}
